
body {
  background-color: beige;
}

.btn {
  background-color: whitesmoke;
  border: solid black 1px;
}

#results {
  display: none;
}

#list {
  font-size: 25px;
}

#hide{
  float: right;
  background-color: whitesmoke;
  border: solid black 1px;
}